<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
        <app-wheel-controller [selected]="'left'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-controller [selected]="'platform'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-controller [selected]="'right'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'left'">
        </app-wheel-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'platform'">
        </app-wheel-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'right'">
        </app-wheel-data>
    </mat-grid-tile>
</mat-grid-list>
