<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
        <app-wheel-controller [selected]="'left_motor'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-controller [selected]="'platform_motor'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-controller [selected]="'right_motor'"></app-wheel-controller>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'left_motor'">
        </app-wheel-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'platform_motor'">
        </app-wheel-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wheel-data [selected]="'right_motor'">
        </app-wheel-data>
    </mat-grid-tile>
</mat-grid-list>
